[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bcrypt = "==4.2.1"
customtkinter = "==5.2.2"
cryptography = "==44.0.0"
cx-freeze = "==7.2.7"
pillow = "==11.0.0"
pytest = "==8.3.4"

[dev-packages]

[requires]
python_version = "3.12"
